<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<title>Timesheet Maintenance</title>

		<link rel="stylesheet" href="/bootstrap/bootstrap-4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bootstrap/bootstrap-table/dist/bootstrap-table.css">
		<link rel="stylesheet" href="/bootstrap/open-iconic/font/css/open-iconic-bootstrap.min.css">
		<link href="/bootstrap/bootstrap-select/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css" />

		<script src="/jquery/jquery-3.3.1.min.js"></script>
		<script src="/bootstrap/bootstrap-4.1.3/js/bootstrap.bundle.min.js"></script>
		<script src="/bootstrap/bootstrap-4.1.3/js/bootstrap.min.js"></script>

		<script src="/bootstrap/bootstrap-table/dist/bootstrap-table.js"></script>
		<script src="/bootstrap/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
		<script src="/bootstrap/popper.min.js"></script>
		<script src="/bootstrap/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script src="/bootstrap/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>

		<script type="text/javascript" src="/bootstrap/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
		<script type="text/javascript" src="/bootstrap/bootstrap-table/dist/extensions/bootstrap-table-export/tableExport.js"></script>
		<script type="text/javascript" src="/bootstrap/bootstrap-table/dist/extensions/bootstrap-table-export/js-xlsx/xlsx.core.min.js"></script>
		<script type="text/javascript" src="/bootstrap/bootstrap-table/dist/extensions/bootstrap-table-export/FileSaver/FileSaver.min.js"></script>


		<style lang="scss" type="text/css">
			$font-size-base: 0.8rem;
			$body-bg: rgb(249, 249, 249);
			$body-color: #111;
			$theme-colors: ( "primary": #563d7c, );
		</style>
	</head>

	<body>

		<!--查询条件-->
		<form id="search_User">
			<div style="margin: 2% 0 2% 0; ">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<div style="margin: 0 0 3% 0;">
						<h4 class="page-title text-left">Timesheet Maintenance</h4>
					</div>
					<tm-messages :messages="messages"></tm-messages>
					<div style="height: auto;border:1px solid #C8CBCF">
						<br />
						<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3  float-left">
							<span class="control-label">User name</span>
							<div class="controls form-inline">
								<input class="form-control query-input" name="searchForm.user_name" type="text" style="width: 95%;margin-top: 3%;" placeholder="Enter User name">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3  float-left">
							<span class="control-label">Application No</span>
							<div class="controls form-inline">
								<input class="form-control query-input" name="searchForm.application_no" type="text" style="width: 95%;margin-top: 3%;" placeholder="Enter application no">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3  float-left">
							<div class="form-group">
								<label>Year</label>
								<select class="show-tick form-control" name="searchForm.year" data-live-search="true">
									<option>请选择年份</option>
									<option value="2017">2017</option>
									<option value="2018">2018</option>
									<option value="2019">2019</option>
									<option value="2020">2020</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3  float-left">
							<div class="form-group">
								<label>Month</label>
								<select class="show-tick form-control" name="searchForm.month" data-live-search="true">
									<option>请选择月份</option>
									<option value="1">1月</option>
									<option value="2">2月</option>
									<option value="3">3月</option>
									<option value="4">4月</option>
									<option value="5">5月</option>
									<option value="6">6月</option>
									<option value="7">7月</option>
									<option value="8">8月</option>
									<option value="9">9月</option>
									<option value="10">10月</option>
									<option value="11">11月</option>
									<option value="12">12月</option>
								</select>
							</div>
						</div>
						<!--查询按钮-->
						<div class="text-center" style="margin: 8% 0 3% 0;">
							<input type="button" class="btn btn-primary btn_search" value="Query" onclick="onSerachUser()" />
						</div>

					</div>
				</div>

			</div>
		</form>
		<button href="#" class="btn btn-primary" onclick="onAddTimesheet()">Add Timesheet</button>

		<!--查询结果-->
		<div class="card-body text-left ">
			<table id="aigTimesheetListTable"></table>
		</div>

		<!-- 信息删除确认 -->
		<div class="modal fade" id="delcfmModel">
			<div class="modal-dialog">
				<div class="modal-content message_align">
					<div class="modal-header">
						<h6 class="modal-title">Confirm delete</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<h4 class="modal-title text-center">Do you confirm to delete timesheet?</h4>
					</div>
					<div class="modal-footer text-center">
						<input type="hidden" id="deleteId" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<a onclick="deleteAigTimesheetSubmit()" class="btn btn-success" data-dismiss="modal">Delete</a>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!--新增信息-->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-center" id="AddModalLabel">Add timesheet</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<!--<div class="form-group">
							<label class="form-label">User name</label>
							<input type="text" name="addForm.user_name" class="form-control" placeholder="Enter user name">
						</div>-->

						<div class="form-group">
							<label>Application no</label>
							<!--<input type="text" name="addForm.application_no" class="form-control" placeholder="Enter application no">-->
							<select class="selectpicker show-tick form-control" name="addForm.application_no" data-live-search="true" id="roleID">
								<option>请选择</option>
							</select>
						</div>

						<div class="form-group">
							<label>Year</label>
							<select class="show-tick form-control" name="addForm.year" data-live-search="true">
								<option value="2017">2017</option>
								<option value="2018">2018</option>
								<option value="2019">2019</option>
								<option value="2020">2020</option>
							</select>
						</div>

						<div class="form-group">
							<label>Month</label>
							<select class="show-tick form-control" name="addForm.month" data-live-search="true">
								<option value="1">1月</option>
								<option value="2">2月</option>
								<option value="3">3月</option>
								<option value="4">4月</option>
								<option value="5">5月</option>
								<option value="6">6月</option>
								<option value="7">7月</option>
								<option value="8">8月</option>
								<option value="9">9月</option>
								<option value="10">10月</option>
								<option value="11">11月</option>
								<option value="12">12月</option>
							</select>
						</div>

						<label>工时:</label>
						<div class="form-group">
							<label class="form-label" style="width: 5%;">1.</label>
							<input type="text" name="addForm.day1" style="width: 90%;">
							<label class="form-label" style="width: 5%;">2.</label>
							<input type="text" name="addForm.day2" style="width: 90%;">
							<label class="form-label" style="width: 5%;">3.</label>
							<input type="text" name="addForm.day3" style="width: 90%;">
							<label class="form-label" style="width: 5%;">4.</label>
							<input type="text" name="addForm.day4" style="width: 90%;">
							<label class="form-label" style="width: 5%;">5.</label>
							<input type="text" name="addForm.day5" style="width: 90%;">
							<label class="form-label" style="width: 5%;">6.</label>
							<input type="text" name="addForm.day6" style="width: 90%;">
							<label class="form-label" style="width: 5%;">7.</label>
							<input type="text" name="addForm.day7" style="width: 90%;">
							<label class="form-label" style="width: 5%;">8.</label>
							<input type="text" name="addForm.day8" style="width: 90%;">
							<label class="form-label" style="width: 5%;">9.</label>
							<input type="text" name="addForm.day9" style="width: 90%;">
							<label class="form-label" style="width: 5%;">10.</label>
							<input type="text" name="addForm.day10" style="width: 90%;">
							<label class="form-label" style="width: 5%;">11.</label>
							<input type="text" name="addForm.day11" style="width: 90%;">
							<label class="form-label" style="width: 5%;">12.</label>
							<input type="text" name="addForm.day12" style="width: 90%;">
							<label class="form-label" style="width: 5%;">13.</label>
							<input type="text" name="addForm.day13" style="width: 90%;">
							<label class="form-label" style="width: 5%;">14.</label>
							<input type="text" name="addForm.day14" style="width: 90%;">
							<label class="form-label" style="width: 5%;">15.</label>
							<input type="text" name="addForm.day15" style="width: 90%;">
							<label class="form-label" style="width: 5%;">16.</label>
							<input type="text" name="addForm.day16" style="width: 90%;">
							<label class="form-label" style="width: 5%;">17.</label>
							<input type="text" name="addForm.day17" style="width: 90%;">
							<label class="form-label" style="width: 5%;">18.</label>
							<input type="text" name="addForm.day18" style="width: 90%;">
							<label class="form-label" style="width: 5%;">19.</label>
							<input type="text" name="addForm.day19" style="width: 90%;">
							<label class="form-label" style="width: 5%;">20.</label>
							<input type="text" name="addForm.day20" style="width: 90%;">
							<label class="form-label" style="width: 5%;">21.</label>
							<input type="text" name="addForm.day21" style="width: 90%;">
							<label class="form-label" style="width: 5%;">22.</label>
							<input type="text" name="addForm.day22" style="width: 90%;">
							<label class="form-label" style="width: 5%;">23.</label>
							<input type="text" name="addForm.day23" style="width: 90%;">
							<label class="form-label" style="width: 5%;">24.</label>
							<input type="text" name="addForm.day24" style="width: 90%;">
							<label class="form-label" style="width: 5%;">25.</label>
							<input type="text" name="addForm.day25" style="width: 90%;">
							<label class="form-label" style="width: 5%;">26.</label>
							<input type="text" name="addForm.day26" style="width: 90%;">
							<label class="form-label" style="width: 5%;">27.</label>
							<input type="text" name="addForm.day27" style="width: 90%;">
							<label class="form-label" style="width: 5%;">28.</label>
							<input type="text" name="addForm.day28" style="width: 90%;">
							<label class="form-label" style="width: 5%;">29.</label>
							<input type="text" name="addForm.day29" style="width: 90%;">
							<label class="form-label" style="width: 5%;">30.</label>
							<input type="text" name="addForm.day30" style="width: 90%;">
							<label class="form-label" style="width: 5%;">31.</label>
							<input type="text" name="addForm.day31" style="width: 90%;">
						</div>

					</div>
					<div class="modal-footer">
						<input type="hidden" id="addId" />
						<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
						<button type="button" id="add_btn_submit" class="btn btn-primary" data-dismiss="modal" onclick="onAddTimesheetSubmit()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>submit</button>
					</div>
				</div>
			</div>
		</div>

		<!--编辑信息-->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-center" id="editModalLabel">Edit</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label>Application no</label>
							<input type="text" name="editForm.application_no" class="form-control" placeholder="Enter application no" disabled="true">
						</div>

						<div class="form-group">
							<label>Year</label>
							<select class="selectpicker show-tick form-control" name="editForm.year" data-live-search="true" disabled="true">
								<option value="2018">2018</option>
								<option value="2019">2019</option>
								<option value="2020">2020</option>
							</select>
						</div>

						<div class="form-group">
							<label>Month</label>
							<select class="selectpicker show-tick form-control" name="editForm.month" data-live-search="true" disabled="true">
								<option value="1">1月</option>
								<option value="2">2月</option>
								<option value="3">3月</option>
								<option value="4">4月</option>
								<option value="5">5月</option>
								<option value="6">6月</option>
								<option value="7">7月</option>
								<option value="8">8月</option>
								<option value="9">9月</option>
								<option value="10">10月</option>
								<option value="11">11月</option>
								<option value="12">12月</option>
							</select>
						</div>

						<label>工时:</label>
						<div class="form-group">
							<label class="form-label" style="width: 5%;">1.</label>
							<input type="text" name="editForm.day1" style="width: 90%;">
							<label class="form-label" style="width: 5%;">2.</label>
							<input type="text" name="editForm.day2" style="width: 90%;">
							<label class="form-label" style="width: 5%;">3.</label>
							<input type="text" name="editForm.day3" style="width: 90%;">
							<label class="form-label" style="width: 5%;">4.</label>
							<input type="text" name="editForm.day4" style="width: 90%;">
							<label class="form-label" style="width: 5%;">5.</label>
							<input type="text" name="editForm.day5" style="width: 90%;">
							<label class="form-label" style="width: 5%;">6.</label>
							<input type="text" name="editForm.day6" style="width: 90%;">
							<label class="form-label" style="width: 5%;">7.</label>
							<input type="text" name="editForm.day7" style="width: 90%;">
							<label class="form-label" style="width: 5%;">8.</label>
							<input type="text" name="editForm.day8" style="width: 90%;">
							<label class="form-label" style="width: 5%;">9.</label>
							<input type="text" name="editForm.day9" style="width: 90%;">
							<label class="form-label" style="width: 5%;">10.</label>
							<input type="text" name="editForm.day10" style="width: 90%;">
							<label class="form-label" style="width: 5%;">11.</label>
							<input type="text" name="editForm.day11" style="width: 90%;">
							<label class="form-label" style="width: 5%;">12.</label>
							<input type="text" name="editForm.day12" style="width: 90%;">
							<label class="form-label" style="width: 5%;">13.</label>
							<input type="text" name="editForm.day13" style="width: 90%;">
							<label class="form-label" style="width: 5%;">14.</label>
							<input type="text" name="editForm.day14" style="width: 90%;">
							<label class="form-label" style="width: 5%;">15.</label>
							<input type="text" name="editForm.day15" style="width: 90%;">
							<label class="form-label" style="width: 5%;">16.</label>
							<input type="text" name="editForm.day16" style="width: 90%;">
							<label class="form-label" style="width: 5%;">17.</label>
							<input type="text" name="editForm.day17" style="width: 90%;">
							<label class="form-label" style="width: 5%;">18.</label>
							<input type="text" name="editForm.day18" style="width: 90%;">
							<label class="form-label" style="width: 5%;">19.</label>
							<input type="text" name="editForm.day19" style="width: 90%;">
							<label class="form-label" style="width: 5%;">20.</label>
							<input type="text" name="editForm.day20" style="width: 90%;">
							<label class="form-label" style="width: 5%;">21.</label>
							<input type="text" name="editForm.day21" style="width: 90%;">
							<label class="form-label" style="width: 5%;">22.</label>
							<input type="text" name="editForm.day22" style="width: 90%;">
							<label class="form-label" style="width: 5%;">23.</label>
							<input type="text" name="editForm.day23" style="width: 90%;">
							<label class="form-label" style="width: 5%;">24.</label>
							<input type="text" name="editForm.day24" style="width: 90%;">
							<label class="form-label" style="width: 5%;">25.</label>
							<input type="text" name="editForm.day25" style="width: 90%;">
							<label class="form-label" style="width: 5%;">26.</label>
							<input type="text" name="editForm.day26" style="width: 90%;">
							<label class="form-label" style="width: 5%;">27.</label>
							<input type="text" name="editForm.day27" style="width: 90%;">
							<label class="form-label" style="width: 5%;">28.</label>
							<input type="text" name="editForm.day28" style="width: 90%;">
							<label class="form-label" style="width: 5%;">29.</label>
							<input type="text" name="editForm.day29" style="width: 90%;">
							<label class="form-label" style="width: 5%;">30.</label>
							<input type="text" name="editForm.day30" style="width: 90%;">
							<label class="form-label" style="width: 5%;">31.</label>
							<input type="text" name="editForm.day31" style="width: 90%;">
						</div>
					</div>

					<div class="modal-footer">
						<input type="hidden" id="editId" />
						<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
						<button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" onclick="onEditAigTimesheetSubmit()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Save</button>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>

<script>
	$(function() {
		var columns = [{
				title: 'ID',
				field: 'id',
				align: 'center',
				valign: 'middle',
			},
			{
				title: 'User name',
				field: 'user_name',
				align: 'center',
				valign: 'middle',
			},
			{
				title: 'Application no',
				field: 'application_no',
				align: 'center',
				valign: 'middle',
			},
			{
				title: 'Year',
				field: 'year',
				align: 'center',
			},
			{
				title: 'Month',
				field: 'month',
				align: 'center',
			},
			{
				title: '01',
				field: 'day1',
				align: 'center',
			},
			{
				title: '02',
				field: 'day2',
				align: 'center',
			},
			{
				title: '03',
				field: 'day3',
				align: 'center',
			},
			{
				title: '04',
				field: 'day4',
				align: 'center',
			},
			{
				title: '05',
				field: 'day5',
				align: 'center',
			},
			{
				title: '06',
				field: 'day6',
				align: 'center',
			},
			{
				title: '07',
				field: 'day7',
				align: 'center',
			},
			{
				title: '08',
				field: 'day8',
				align: 'center',
			},
			{
				title: '09',
				field: 'day9',
				align: 'center',
			},
			{
				title: '10',
				field: 'day10',
				align: 'center',
			},
			{
				title: '11',
				field: 'day11',
				align: 'center',
			},
			{
				title: '12',
				field: 'day12',
				align: 'center',
			},
			{
				title: '13',
				field: 'day13',
				align: 'center',
			},
			{
				title: '14',
				field: 'day14',
				align: 'center',
			},
			{
				title: '15',
				field: 'day15',
				align: 'center',
			},
			{
				title: '16',
				field: 'day16',
				align: 'center',
			},
			{
				title: '17',
				field: 'day17',
				align: 'center',
			},
			{
				title: '18',
				field: 'day18',
				align: 'center',
			},
			{
				title: '19',
				field: 'day19',
				align: 'center',
			},
			{
				title: '20',
				field: 'day20',
				align: 'center',
			},
			{
				title: '21',
				field: 'day21',
				align: 'center',
			},
			{
				title: '22',
				field: 'day22',
				align: 'center',
			},
			{
				title: '23',
				field: 'day23',
				align: 'center',
			},
			{
				title: '24',
				field: 'day24',
				align: 'center',
			},
			{
				title: '25',
				field: 'day25',
				align: 'center',
			},
			{
				title: '26',
				field: 'day26',
				align: 'center',
			},
			{
				title: '27',
				field: 'day27',
				align: 'center',
			},
			{
				title: '28',
				field: 'day28',
				align: 'center',
			},
			{
				title: '29',
				field: 'day29',
				align: 'center',
			},
			{
				title: '30',
				field: 'day30',
				align: 'center',
			},
			{
				title: '31',
				field: 'day31',
				align: 'center',
			},
			{
				title: 'Modify Or Delete Operation',
				field: 'id',
				align: 'center',
				formatter: function(value, row, index) {
					var e = '<button href="#" class="btn btn-primary"  onclick="onEditAigTimesheet(\'' + row.id + '\')">Edit</button> ';
					var d = '<button href="#" class="btn btn-danger"   onclick="onDeleteAigTimesheet(\'' + row.id + '\')">Delete</button> ';
					return e + d;
				}
			}
		];
		onQuery(columns);
	});

	function onQuery(columns) {
		var dataurl = '/aig/timesheet/load'
		$('#aigTimesheetListTable').bootstrapTable({
			url: dataurl,
			idePagination: "server",
			method: "POST",
			dataType: "json",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			//contentType: "application/x-json",
			striped: true, //隔行变色
			cache: false, //是否使用缓存
			showColumns: true, // 列
			//toobar:'#toolbar',
			pagination: true, //分页
			paginationLoop: false,
			paginationPreText: '上一页',
			paginationNextText: '下一页',
			//showFooter:true,//显示列脚
			//showRefresh:true,//显示刷新
			showPaginationSwitch: false, //是否显示数据条数选择框
			sortable: false, //是否启用排序
			singleSelect: false,
			search: false, //显示搜索框
			buttonsAlign: "right", //按钮对齐方式
			showRefresh: false, //是否显示刷新按钮
			sidePagination: "server", //服务端处理分页
			pageNumber: 1,
			pageSize: 8,
			pageList: [5, 8, 10, 25, 50, 100],
			undefinedText: '--',
			uniqueId: "id", //每一行的唯一标识，一般为主键列

			showExport: true,
			exportDataType: 'all',
			exportTypes: ['excel', 'xlsx'], //导出文件类型
			exportOptions: { //ignoreColumn: [0,0],
				fileName: '数据导出', //文件名称设置
				worksheetName: 'Sheet1', //表格工作区名称
				tableName: '',
				excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
			},

			queryParamsType: '',
			queryParams: queryParams, //传递参数（*）
			columns: columns,
			onLoadSuccess: function(data) { //加载成功时执行
			},
			onLoadError: function(data) {
				//showTips("数据加载失败！");
			},
			onDblClickRow: function(row, $element) {
				var id = row.ID;
				EditViewById(id, 'view');
			},
		});

		//得到查询的参数
		function queryParams(params) {
			var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
				pageSize: params.pageSize, //页面大小
				pageNumber: params.pageNumber, //页码
				application_no: $("*[name='searchForm.application_no']").val(), //后台请求传的查询参数
				user_name: $("*[name='searchForm.user_name']").val(),
				year: $("*[name='searchForm.year']").val(),
				month: $("*[name='searchForm.month']").val()
			};
			return temp;
		};
	}

	//搜索
	function onSerachUser() {
		$("#aigTimesheetListTable").bootstrapTable('refresh');
	}
	//新增弹框
	function onAddTimesheet() {
		/*$('#addModal').modal();*/
		$.ajax({
			url: "/aig/timesheet/initAddParameter ", //请求的url地址
			dataType: "json", //返回格式为json
			async: false, //请求是否异步，默认为异步，这也是ajax重要特性
			data: {}, //参数值,键值对
			type: "POST", //请求方式
			beforeSend: function() {
				//请求前的处理
			},
			success: function(req) {
				//请求成功处理
				$("*[name='addForm.year']").selectpicker('val', req.rows.year);
				$("*[name='addForm.month']").selectpicker('val', req.rows.month);
			},
			complete: function() {
				//请求完成的处理
				$('#addModal').modal();
			},
			error: function() {
				//请求出错处理
			}
		});
	
	}

	//新增提交
	function onAddTimesheetSubmit() {
		$.ajax({
			url: "/aig/timesheet/save", //请求的url地址
			dataType: "json", //返回格式为json
			async: false, //请求是否异步，默认为异步，这也是ajax重要特性
			data: {
				application_no: $("*[name='addForm.application_no']").val(),
				year: $("*[name='addForm.year']").val(),
				month: $("*[name='addForm.month']").val(),
				day1: $("*[name='addForm.day1']").val(),
				day2: $("*[name='addForm.day2']").val(),
				day3: $("*[name='addForm.day3']").val(),
				day4: $("*[name='addForm.day4']").val(),
				day5: $("*[name='addForm.day5']").val(),
				day6: $("*[name='addForm.day6']").val(),
				day7: $("*[name='addForm.day7']").val(),
				day8: $("*[name='addForm.day8']").val(),
				day9: $("*[name='addForm.day9']").val(),
				day10: $("*[name='addForm.day10']").val(),
				day11: $("*[name='addForm.day11']").val(),
				day12: $("*[name='addForm.day12']").val(),
				day13: $("*[name='addForm.day13']").val(),
				day14: $("*[name='addForm.day14']").val(),
				day15: $("*[name='addForm.day15']").val(),
				day16: $("*[name='addForm.day16']").val(),
				day17: $("*[name='addForm.day17']").val(),
				day18: $("*[name='addForm.day18']").val(),
				day19: $("*[name='addForm.day19']").val(),
				day20: $("*[name='addForm.day20']").val(),
				day21: $("*[name='addForm.day21']").val(),
				day22: $("*[name='addForm.day22']").val(),
				day23: $("*[name='addForm.day23']").val(),
				day24: $("*[name='addForm.day24']").val(),
				day25: $("*[name='addForm.day25']").val(),
				day26: $("*[name='addForm.day26']").val(),
				day27: $("*[name='addForm.day27']").val(),
				day28: $("*[name='addForm.day28']").val(),
				day29: $("*[name='addForm.day29']").val(),
				day30: $("*[name='addForm.day30']").val(),
				day31: $("*[name='addForm.day31']").val()
			}, //参数值,键值对
			type: "POST", //请求方式
			beforeSend: function() {
				//请求前的处理
			},
			success: function(req) {
				//请求成功处理
			},
			complete: function() {
				//请求完成的处理
				//刷新bootstrap table数据
				$("#aigTimesheetListTable").bootstrapTable('refresh');
			},
			error: function() {
				//请求出错处理
			}
		});
	}

	//删除弹框
	function onDeleteAigTimesheet(id) {
		$('#deleteId').val(id); //给会话中的隐藏属性deleteId赋值
		$('#delcfmModel').modal();
	}
	//删除提交
	function deleteAigTimesheetSubmit() {
		var deleteId = $.trim($("#deleteId").val()); //获取会话中的隐藏属性deleteId
		$.ajax({
			url: "/aig/timesheet/delete", //请求的url地址
			dataType: "json", //返回格式为json
			async: false, //请求是否异步，默认为异步，这也是ajax重要特性
			data: {
				"id": deleteId
			}, //参数值,键值对
			type: "POST", //请求方式
			beforeSend: function() {
				//请求前的处理
			},
			success: function(req) {
				//请求成功处理
			},
			complete: function() {
				//请求完成的处理
				//刷新bootstrap table数据
				$("#aigTimesheetListTable").bootstrapTable('refresh');
			},
			error: function() {
				//请求出错处理
			}
		});
	}

	//更新弹框
	function onEditAigTimesheet(id) {
		$.ajax({
			url: "/aig/timesheet/loadDetail", //请求的url地址
			dataType: "json", //返回格式为json
			async: false, //请求是否异步，默认为异步，这也是ajax重要特性
			data: {
				"id": id
			}, //参数值,键值对
			type: "POST", //请求方式
			beforeSend: function() {
				//请求前的处理
			},
			success: function(req) {
				//请求成功处理
				$("#editModalLabel").text("Edit timesheet");
				$('#editId').val(req.rows.id); //给会话中的隐藏属性deleteId赋值
				$("*[name='editForm.user_name']").val(req.rows.user_name);
				$("*[name='editForm.application_no']").val(req.rows.application_no);
				//$("*[name='editForm.year']").val(req.rows.year);
				//$("*[name='editForm.month']").val(req.rows.month);
				$("*[name='editForm.year']").selectpicker('val', req.rows.year);
				$("*[name='editForm.month']").selectpicker('val', req.rows.month);
				$("*[name='editForm.day1']").val(req.rows.day1);
				$("*[name='editForm.day2']").val(req.rows.day2);
				$("*[name='editForm.day3']").val(req.rows.day3);
				$("*[name='editForm.day4']").val(req.rows.day4);
				$("*[name='editForm.day5']").val(req.rows.day5);
				$("*[name='editForm.day6']").val(req.rows.day6);
				$("*[name='editForm.day7']").val(req.rows.day7);
				$("*[name='editForm.day8']").val(req.rows.day8);
				$("*[name='editForm.day9']").val(req.rows.day9);
				$("*[name='editForm.day10']").val(req.rows.day10);
				$("*[name='editForm.day11']").val(req.rows.day11);
				$("*[name='editForm.day12']").val(req.rows.day12);
				$("*[name='editForm.day13']").val(req.rows.day13);
				$("*[name='editForm.day14']").val(req.rows.day14);
				$("*[name='editForm.day15']").val(req.rows.day15);
				$("*[name='editForm.day16']").val(req.rows.day16);
				$("*[name='editForm.day17']").val(req.rows.day17);
				$("*[name='editForm.day18']").val(req.rows.day18);
				$("*[name='editForm.day19']").val(req.rows.day19);
				$("*[name='editForm.day20']").val(req.rows.day20);
				$("*[name='editForm.day21']").val(req.rows.day21);
				$("*[name='editForm.day22']").val(req.rows.day22);
				$("*[name='editForm.day23']").val(req.rows.day23);
				$("*[name='editForm.day24']").val(req.rows.day24);
				$("*[name='editForm.day25']").val(req.rows.day25);
				$("*[name='editForm.day26']").val(req.rows.day26);
				$("*[name='editForm.day27']").val(req.rows.day27);
				$("*[name='editForm.day28']").val(req.rows.day28);
				$("*[name='editForm.day29']").val(req.rows.day29);
				$("*[name='editForm.day30']").val(req.rows.day30);
				$("*[name='editForm.day31']").val(req.rows.day31);
			},
			complete: function() {
				//请求完成的处理
				$('#editModal').modal();
			},
			error: function() {
				//请求出错处理
			}
		});
	}

	//更新提交
	function onEditAigTimesheetSubmit() {
		$.ajax({
			url: "/aig/timesheet/update", //请求的url地址
			dataType: "json", //返回格式为json
			async: false, //请求是否异步，默认为异步，这也是ajax重要特性
			data: {
				"id": $.trim($("#editId").val()),
				user_name: $("*[name='editForm.user_name']").val(),
				application_no: $("*[name='editForm.application_no']").val(),
				year: $("*[name='editForm.year']").val(),
				month: $("*[name='editForm.month']").val(),
				day1: $("*[name='editForm.day1']").val(),
				day2: $("*[name='editForm.day2']").val(),
				day3: $("*[name='editForm.day3']").val(),
				day4: $("*[name='editForm.day4']").val(),
				day5: $("*[name='editForm.day5']").val(),
				day6: $("*[name='editForm.day6']").val(),
				day7: $("*[name='editForm.day7']").val(),
				day8: $("*[name='editForm.day8']").val(),
				day9: $("*[name='editForm.day9']").val(),
				day10: $("*[name='editForm.day10']").val(),
				day11: $("*[name='editForm.day11']").val(),
				day12: $("*[name='editForm.day12']").val(),
				day13: $("*[name='editForm.day13']").val(),
				day14: $("*[name='editForm.day14']").val(),
				day15: $("*[name='editForm.day15']").val(),
				day16: $("*[name='editForm.day16']").val(),
				day17: $("*[name='editForm.day17']").val(),
				day18: $("*[name='editForm.day18']").val(),
				day19: $("*[name='editForm.day19']").val(),
				day20: $("*[name='editForm.day20']").val(),
				day21: $("*[name='editForm.day21']").val(),
				day22: $("*[name='editForm.day22']").val(),
				day23: $("*[name='editForm.day23']").val(),
				day24: $("*[name='editForm.day24']").val(),
				day25: $("*[name='editForm.day25']").val(),
				day26: $("*[name='editForm.day26']").val(),
				day27: $("*[name='editForm.day27']").val(),
				day28: $("*[name='editForm.day28']").val(),
				day29: $("*[name='editForm.day29']").val(),
				day30: $("*[name='editForm.day30']").val(),
				day31: $("*[name='editForm.day31']").val()
			}, //参数值,键值对
			type: "POST", //请求方式
			beforeSend: function() {
				//请求前的处理
			},
			success: function(req) {
				//请求成功处理
			},
			complete: function() {
				//请求完成的处理
				//刷新bootstrap table数据
				$("#aigTimesheetListTable").bootstrapTable('refresh');
			},
			error: function() {
				//请求出错处理
			}
		});
	}

	$("#roleID").on('shown.bs.select', function(e) {
		initSelectList('roleID', '/aig/ticket/loadAllAigTicket', 'role');
	});

	function initSelectList(objName, dataurl, type) {
		$.ajax({
			type: 'post',
			url: dataurl,
			async: false,
			data: {
				"type": type
			}, //参数值,键值对
			dataType: "Json",
			success: function(data) {
				if(null != data) {
					var opstr = "<option value=\"Vacation\">Vacation</option>";
					$.each(data, function(i, n) {
						opstr += " <option value=\"" + n.application_no + "\">" + n.application_no + "</option>";
					})
					var myobj = document.getElementById(objName);
					if(myobj.options.length == 1) {
						$("#" + objName).html(opstr);
						$("#" + objName).selectpicker('refresh');
					}
				}
			}
		})
	}
</script>