<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>upload</title>

		<link rel="stylesheet" href="/bootstrap/bootstrap-4.1.3/css/bootstrap.min.css">
		<link href="/bootstrap/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />

		<script src="/jquery/jquery-3.3.1.min.js"></script>

		<script src="/bootstrap/bootstrap-fileinput/js/fileinput.js"  type="text/javascript">></script>
		<script src="/bootstrap/bootstrap-fileinput/js/locales/th.js" type="text/javascript"></script>

		<script src="/bootstrap/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
		<script src="/bootstrap/bootstrap-4.1.3/js/bootstrap.min.js"></script>

		<style>
			.col-center-block {
				float: none;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>

	<body>
		<div class="col-center-block" style="width: 50%;">
			<h2 class="text-center" style="margin-top: 10%;">aig ticket upload</h2>
			<label style="margin-top: 5%;">请选择上传文件(最大限制30M,文件格式包含.xlsx,.xls)</label>
			<input id="uploadFile" type="file" class="file" name="file" data-show-preview="true" data-allowed-file-extensions='["xlsx","xls"]'>
		</div>
	</body>
</html>

<script>
	$("#uploadFile").fileinput({
		uploadUrl: "/aig/ticket/upload/excel", //上传的地址            
		maxFileSize: 0, //单位为kb，如果为0表示不限制文件大小
		maxFileCount: 2,
	}).on("fileuploaded", function(event, data, previewId, index) {
		var form = data.form,
			files = data.files,
			extra = data.extra,
			response = data.response,
			reader = data.reader;
		//alert(response.msg)
		console.log(data); //打印出返回的json
		console.log(response.paths); //打印出路径
	});
</script>